<form action="">
    <div layout="column">
        <h1>Entries</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#!/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#!/projects">Manage Projects<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#!/entries">Add Entry</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#!/reports">View Reports</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search Projects or Entries" ng-model="searchAll" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        <form>
            <div layout="row">
                <md-input-container>
                    <label>Add Entry</label>
                    <input type="text" ng-model="vm.objectToSend.name" required md-maxlength="60">
                </md-input-container>
                <div>
                    <md-datepicker ng-model="vm.objectToSend.date" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
            <div layout="row">
                <div>
                    <select required ng-model="vm.objectToSend.project_id">
                        <option value="">Select Project</option>
                        <option ng-repeat="project in vm.projectsArray" value="{{project.id}}">{{project.name}}</option>
                    </select>
                </div>
                <div layout="row">
                    <div>
                        <div>
                            <md-input-container>
                                <label>Start Time</label>
                                <input type="time" ng-model="vm.objectToSend.start_time">
                            </md-input-container>
                        </div>
                    </div>
                    <div>
                        <md-input-container>
                            <label>End Time</label>
                            <input type="time" ng-model="vm.objectToSend.end_time">
                        </md-input-container>
                    </div>
                    <md-button class="md-primary" ng-click="vm.addEntry(vm.objectToSend)">Submit</md-button>
                </div>
                <!-- </md-content> -->
            </div>
        </form>
        <table id="tableOnly">
            <thead>
                <tr>
                    <th>Entry</th>
                    <th>Project</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.entriesArray| filter: searchAll">
                    <td><a href="#!/projects">{{entry.name}}</a></td>
                    <td>{{entry.project}}</td>
                    <td>{{vm.dateOfProject(entry)}}</td>
                    <td>{{vm.timeDiff(entry)}}</td>
                    <td><md-button class="md-warn md-raised" ng-click="vm.deleteEntry(entry)">Finished</md-button></td>
                </tr>
            </tbody>
        </table>

        <!-- <pre>{{vm | json}}</pre> -->