<form action="">
    <div layout="column">
        <h1>Time Tracker</h1>

        <div class="md-padding">
            <a href="#!/">Home</a>
            <a href="#!/entries">Make an Entry</a>
            <a href="#!/projects">Manage Projects</a>
            <a href="#!/reports">View Reports</a>
        </div>
        <form>
            <div layout="row">
                <md-input-container>
                    <label>Add Entry</label>
                    <input type="text" ng-model="vm.objectToSend.name" required md-maxlength="60">
                </md-input-container>
                <div>
                    <md-datepicker ng-model="vm.objectToSend.date" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
            <div layout="row">
                <div>
                    <select required ng-model="vm.objectToSend.project_id">
                        <option value="">Select Project</option>
                        <option ng-repeat="project in vm.projectsArray" value="{{project.id}}">{{project.name}}</option>
                    </select>
                </div>
                <div layout="row">
                    <div>
                        <div>
                            <md-input-container>
                                <label>Start Time</label>
                                <input type="time" ng-model="vm.objectToSend.start_time">
                            </md-input-container>
                        </div>
                    </div>
                    <div>
                        <md-input-container>
                            <label>End Time</label>
                            <input type="time" ng-model="vm.objectToSend.end_time">
                        </md-input-container>
                    </div>
                    <md-button class="md-primary" ng-click="vm.addEntry(vm.objectToSend)">Submit</md-button>
                </div>
                <!-- </md-content> -->
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Entry</th>
                    <th>Project</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.entriesArray| filter: test">
                    <td>{{entry.name}}</td>
                    <td>{{entry.project}}</td>
                    <td>{{vm.dateOfProject(entry)}}</td>
                    <td>{{vm.timeDiff(entry)}}</td>
                    <td><md-button class="md-warn md-raised" ng-click="vm.deleteEntry(entry)">Delete</md-button></td>
                </tr>
            </tbody>
        </table>
        <!-- <pre>{{vm | json}}</pre> -->